colors = {
  light: {
    bg: hsl(240, 25%, 98%),
    heading: hsl(0, 0, 10%),
    text: hsl(0, 0, 20%),
    card: hsl(0, 0, 100%),
    toggle: hsl(240, 8%, 75%)
  },
  dark: {
    bg: hsl(227, 12%, 15%),
    heading: hsl(0, 0, 97%),
    text: hsl(0, 0, 90%),
    card: hsl(227, 11%, 9%),
    toggle: hsl(0, 0, 97%),
  }
  primary: hsl(224, 100%, 60%),
  success: hsl(161, 65%, 46%),
  danger: hsl(352, 97%, 62%),
  black: hsl(0, 0, 10%),
  gray: hsl(0, 0, 90%),
  darkGray: hsl(227, 12%, 25%),
  white: hsl(0, 0, 98%),
}

gradients = {
  primary: linear-gradient(90deg, #FFE53B 0%, #FF2525 74%),
  second: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%),
}

shadows = {
  card: 0 14px 48px rgba(0, 0, 0, .12),
  cardInactive: 0 4px 12px rgba(0, 0, 0, .06),
  formItem: 0 6px 34px rgba(0,0,0,0.04),
  lightGradient: 0 -2px 12px rgba(0, 0, 0, .08)
}
