@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url('~@/assets/fonts/Montserrat-Regular.ttf') format('ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url('~@/assets/fonts/Montserrat-Medium.ttf') format('ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: url('~@/assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url('~@/assets/fonts/Montserrat-Bold.ttf') format('ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 800;
  src: url('~@/assets/fonts/Montserrat-ExtraBold.ttf') format('ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 900;
  src: url('~@/assets/fonts/Montserrat-Black.ttf') format('ttf');
}
