@import 'mixins.styl';

$inputHeight = remCalc(50)

nav = {
  width: remCalc(260),
  offset: remCalc(300)
}

button = {
  height: $inputHeight,
  spacing: remCalc(20),
}

card = {
  spacing: remCalc(20)
}

input = {
  height: $inputHeight
}

select = {
  height: $inputHeight
}

spacing = {
  sm: remCalc(10),
  md: remCalc(16),
  lg: remCalc(30)
}
