@import '../utils/*'

input
  align-items: center
  background-color: var(--color-card)
  border: 1px solid transparent
  border-radius: 4px
  box-shadow: none
  color: var(--color-text)
  display: inline-flex
  font-family: 'Montserrat', sans-serif
  font-size: remCalc(16)
  height: input.height
  justify-content: flex-start
  line-height: 1.5
  padding: 0 spacing.md
  position: relative
  vertical-align: top
  +minMedia(lg)
    font-size: remCalc(18)
  &:focus
    outline: none
    border-color: var(--color-primary)
  &.is-read-only
    box-shadow: none

input[type="text"]
  -webkit-appearance: none
  max-width: 320px
  width: 100%

+lightMode()
  input[type="text"]
    box-shadow: shadows.formItem
