@import '../utils/*'

.vh-tag
  background: var(--color-bg)
  border-radius: remCalc(4)
  color: var(--color-text)
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: remCalc(14)
  line-height: 1.5
  padding: remCalc(5)
